.navbar-brand {
    font-size: 4rem;
    font-weight: bold;
    margin: 0 auto; 
    display: block;
    text-align: center;
}

/* Mantén la regla CSS para la animación shake-slow */
.navbar-brand.shake-on-load {
    animation: shake-slow 15s ease-in-out infinite;
}

/* Estilos aleatorios por letra para el parpadeo */
.navbar-brand.shake-on-load {
    position: relative;
}

.navbar-brand.shake-on-load::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    50% {
        opacity: 0;
        transform: translate(random(-2px, 2px), random(-2px, 2px));
    }
}

.card {
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
    padding: 10px; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.button-group {
    align-self: flex-end;
    margin-top: 5px; 
}


.btn:hover {
    animation: shake-little 100ms ease-in-out infinite;
}

